#container1 {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(jpg/napoli.jpg);
  position: relative;
}

#container2 {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(jpg/newyork.jpg);
  position: relative;
}

#container3 {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(jpg/parigi.jpg);
  position: relative;
}

#layover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(227, 231, 227, 0.44);
  position: absolute;
}

.titolo {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 40%;
  /* height: 100vh; */
  color: rgba(0, 0, 0, 0.53);
  font-size: 70pt;
  font-style: normal;
  padding: 4px;
  border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid black 2px;

}
